<header ng-include="'nav.html'"></header>

<hr>

<p><h2><span class="lavel label-primary">Pickup Locations</span><h2><p>
<div class="row" center>
  <div class="jumbotron col-sm-6 col-md-4 col-lg-4 col-xs-12" ng-repeat="location in pickupLocations">
    <p>{{location.community}}</p>
    <p>Distributor: {{location.user.name}}</p>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-danger" ng-click="deleteLocation(location)">Delete</button>
    </div>
  </div>
</div>

<hr>
<form name="form_pickup_location" role="form" ng-submit="createLocation()">
    <div class="form-group">
      <h3><label for="location"><span class="label label-info">New Pickup Location </span></label></h3>
      <input type="text" class="form-control input-lg" ng-model="newLocation.community">
    </div>
    <div class="form-group">
      <h3><label for="location"><span class="label label-info">Distributor</span></label></h3>
      <select for="distributor" class="form-control" ng-model="newLocation.user">
        <option ng-repeat="user in distributors"
                value="{{user._id}}">
                {{user.name}}
        </option>
      </select>
    </div>

    <!-- createlocation() WILL CREATE NEW locationS -->
    <button type="submit" class="btn btn-primary">Add Pickup Location</button>
</form>
